<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simulation</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div class="container">
      <h1 class="my-3">Task Simulation</h1>
      <ul class="list-group" id="tasks">
        {% for task in tasks%}
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{task.file_name}}</div>
            {{task.etime}} seconds
          </div>
          <span
            class="badge bg-{{'success' if task.status== 'Processing' else 'secondary'}} rounded-pill"
            >Processing</span
          >
          <span
            class="badge bg-{{'success' if task.status== 'Conversion' else 'secondary'}} rounded-pill"
            >Conversion</span
          >
          <span
            class="badge bg-{{'success' if task.status== 'S3Upload' else 'secondary'}} rounded-pill"
            >S3Upload</span
          >
          <span
            class="badge bg-{{'success' if task.status== 'Extraction' else 'secondary'}} rounded-pill"
            >Extraction</span
          >
          <span
            class="badge bg-{{'success' if task.status== 'SaveBill' else 'secondary'}} rounded-pill"
            >SaveBill</span
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <script>
      $(document).ready(() => {
        function renderTasks(data) {
          $("#tasks").empty();
          for (i = 0; i < data.length; i++) {
            var task = data[i];
            var proc_class =
              task.status == "Processed" ? "bg-success" : "bg-secondary";
            var conv_class =
              task.status == "Conversion" ? "bg-success" : "bg-secondary";
            var s3up_class =
              task.status == "S3Upload" ? "bg-success" : "bg-secondary";
            var extr_class =
              task.status == "Extraction" ? "bg-success" : "bg-secondary";
            var save_class =
              task.status == "SaveBill" ? "bg-success" : "bg-secondary";
            var _html = `<li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">${task.file_name}</div>
            {{task.etime}} seconds
          </div>
          <span
            class="badge ${proc_class} rounded-pill"
            >Processing</span
          >
          <span
            class="badge ${conv_class} rounded-pill"
            >Conversion</span
          >
          <span
            class="badge ${s3up_class} rounded-pill"
            >S3Upload</span
          >
          <span
            class="badge ${extr_class} rounded-pill"
            >Extraction</span
          >
          <span
            class="badge ${save_class} rounded-pill"
            >SaveBill</span
          >
        </li>`;
          }
          $("#tasks").append(_html);
        }
        fetch("/get_tasks/")
          .then((res) => res.json())
          .then((data) => {
            renderTasks(data);
          });
      });
      //   setTimeout(() => {
      //     location.reload();
      //   }, 1000);
    </script>
    <style>
      .bg-secondary {
        opacity: 0.25;
      }
    </style>
  </body>
</html>
